extends header
block content
    #Padre
        .content-form
            #Register
                h1 Contacto
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias dolor cum dolorum facilis fuga, natus, dicta nulla fugiat qui aut esse vitae placeat velit accusantium? Atque eius itaque ipsum?
                p Contactanos en: Santiagoa150@gmail.com
                a(href="/Principal")
                    button(id="SubmitRegister") Atrás
        