extends header
block content
    #Padre2
        #TitleContainer2
            h1(class="GroupCont" id="Elpepe") Bienvenido al foro
            a(href="/Principal")
                button(id="buttonAtras") Atrás
        #CardsContainer
            .Card
                h2 Realizar post
                textarea(
                    class="Textarea"
                )
                button(class="BotomPrincipal") Ingresar